#ignore everything here, except subdirectories.
*
custom_items.txt
!*/
#Also don't ignore these things because editing them manually on the server is a pain in the fucking ass.
!custom_sprites.txt
!alienwhitelist.txt
!jobwhitelist.txt
